# Ignore artifacts:
**/node_modules
**/public
.husky
.github

# Igonre Config File:
**/*.config.js
**/*.config.ts
**/*.d.ts
**/tsconfig.json
**/tsconfig.node.json
**/package.json
**/package-lock.json
**/pnpm-lock.yaml
**/coverage
**/dist
README.md
LICENSE
**/*.html
**/*.css
**/.env.*
.gitignore
.prettierignore